<h1>New Tic Tac Toe Board</h1>

<%= render 'form', tic_tac_toe_board: @tic_tac_toe_board %>

<%#= link_to 'Back', tic_tac_toe_boards_path %>
<div class="form-group">
  <div class="col-sm-6 col-md-8">
    <%= link_to 'Back', tic_tac_toe_boards_path, class: 'btn' %>
  </div>
</div>
